html,
body {
  margin: 0;
  padding: 0;
  font-family: sans;
  min-height: 100vh;
  background: #ebf7db;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 1;
  background: #fff;
}

button {
  color: inherit;
}

select,
input[type='datetime-local'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='file'],
input[type='tel'],
input:not([type]),
input[type='text'] {
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
  border: none;
  width: 100%;
}

label:not(.checkbox) {
  position: relative;
  margin-top: 0.8rem;
  border: solid 1px #ccc;
  display: block;

  span {
    position: absolute;
    padding: 0.2rem;
    background: #fff;
    line-height: 1;
    left: 0.2rem;
    top: 0.3rem;
    transition: all 0.1s;
  }

  &:focus-within,
  &.value {
    span {
      font-size: 0.7rem;
      top: -0.6rem;
    }
  }
}

button.icon {
  padding: 0;
  margin: 0 0.5em;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    background: none;
  }

  &:active {
    background: none;
  }

  svg {
    vertical-align: middle;
  }
}

header {
  position: relative;
  background: #007b00;
  background: var(--main-color);
  color: #fff;
  color: var(--main-color-text-color);
  display: flex;

  h1 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0.3rem 0.5rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: inherit;
  }

  .actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  button {
    padding: 5px;
    border: none;
    background: none;
    margin: 0 5px;

    &:disabled svg {
      fill: #ffffff44;
    }
  }

  svg {
    fill: #fff;
  }

  .menu {
    position: absolute;
    color: #000;
    z-index: 1001;
    top: 100%;
    right: 0;
    max-width: 100%;
    width: 450px;
    box-shadow: -10px 20px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 1rem;

    h2 {
      font-size: 1.1rem;
      padding: 0;
    }

    h3 {
      font-size: 1rem;
    }

    button {
      margin: 5px;
      cursor: pointer;
      background: #007b00;
      background: var(--main-color);
      color: #fff;
      color: var(--main-color-text-color);

      &:disabled {
        background: #ccc !important;
        color: #aaa !important;
        cursor: default;
      }
    }

    button.remoteStorage {
      background: #d53d01;
      color: #fff;
    }
  }

  div.cover {
    position: fixed;
    right: 0;
    margin-top: 2.3rem;
    background: rgba(255, 255, 255, 0.4);
    width: 100vw;
    height: calc(100vh - 2.3rem);
    z-index: 1000;
  }

  nav {
    display: flex;

    a {
      text-decoration: none;
      color: inherit;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      background: #fff;
      height: calc(100vh - 2.3rem);
      margin: 0;
      padding: 0;

      &[hidden] {
        display: none;
      }
    }

    li {
      list-style: none;
      padding: 0.5em;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .actions {
    display: flex;
    color: #fff;
    background: #007b00;
  }

  button {
    border: none;
    text-align: center;
    background: #111;
    background: var(--main-color);
    margin: 0;
    cursor: pointer;

    &:hover {
      background: #222;
      background: hsl(
        var(--main-color-h),
        calc(var(--main-color-s) - 10%),
        calc(var(--main-color-l) + 10%)
      );
    }

    &:active {
      background: #222;
      background: hsl(
        var(--main-color-h),
        calc(var(--main-color-s) - 20%),
        calc(var(--main-color-l) + 20%)
      );
    }

    &[disabled] {
      background: #6f6f6f;
      cursor: no-drop;
    }
  }
}

.tabs {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    flex-grow: 1;
    list-style: none;
    text-align: center;
    padding: 5px;
    background: #deeec8;
    border-top: solid 3px #deeec8;
    margin: 0 2px;
    cursor: pointer;

    &[aria-selected] {
      background: #fff;
      border-top-color: #007b00;
    }
  }

  a {
    display: block;
  }
}

.map,
.map > div {
  height: 20vh;
  flex-grow: 1;
}

.map.grab > div {
  cursor: crosshair;
}

.selector,
.hierarchy {
  label {
    display: inline-block;
    flex-grow: 1;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:active {
      background: unset;
    }
  }

  .items {
    padding: 5px;
    padding-left: 10px;
    margin: 2px 0;
    background: #cccccc88;
    background: hsla(
      var(--main-color-h),
      var(--main-color-s),
      var(--main-color-l),
      40%
    );
    cursor: pointer;
  }

  button.item {
    font-size: 1rem;
    margin: 0;
  }

  button.item[aria-selected] {
    font-weight: bold;
  }
}

.capture {
  height: 20vh;
  line-height: 20vh;
  text-align: center;

  .icon {
    vertical-align: middle;
  }

  canvas {
    display: none;
  }

  video {
    height: 20vh;
  }
}

.right {
  text-align: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.col {
  flex-direction: column;
  flex-wrap: unset;
}

.m6 {
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.sliderContainer {
  overflow-x: hidden;
}

@media (min-width: 900px) {
  .sliderContainer {
    position: relative;
  }
}

.slider {
  background: #fff;
  transition: transform 0.2s;
  transform: translateX(100%);
  position: absolute;
  top: 2rem;
  bottom: 0;
  z-index: 1000;
}

@media (max-width: 900px) {
  .slider {
    left: 0;
    right: 0;
    position: fixed;
  }
}

.slider.open {
  transform: unset;
}

.images {
  img {
    max-height: 20vh;
  }
  div {
    position: relative;
    display: inline-block;
  }
  .delete {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    margin: 0;
    background: #ffffff99;
    border-radius: 1em;
  }
}

@media (min-width: 630px) {
  .m6 {
    width: 50%;
  }
}

.litterSurvey {
  padding: 1rem;

  label {
    display: block;
  }
}

.litterPick {
  padding-bottom: 50px;

  label {
    flex-grow: 1;
  }

  .flex > button {
    margin-top: 0.8rem;
  }

  .imagery {
    display: flex;
  }

  .observationForm {
    padding: 0 10px;
  }

  .actions {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    button {
      flex-grow: 1;
      //  width: 33%;
      padding: 10px 20px;
    }
  }
}

.litterList {
  padding: 1rem;

  .map {
    margin-bottom: 20px;
  }

  .header {
    margin: 1rem 0;

    h1 {
      margin: 0;
    }

    button {
      background: none;
      border: none;
    }
  }

  .images > button {
    padding: 0;
    margin: 0 0.5rem;

    img {
      vertical-align: middle;
    }

    > svg {
      margin: 1rem 2rem;
    }
  }

  > ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}
