:root {
  --main-color-h: 30;
  --main-color-s: 100%;
  --main-color-l: 25%;
  --main-color: hsl(
    var(--main-color-h),
    var(--main-color-s),
    var(--main-color-l)
  );
  --main-color-text-color: #fff;
  --map-litter-color: var(--main-color);
  --map-marked-location-color: var(--main-color);
  --map-current-location-color: #000;
}
